<div id="new-listing">
  <h3><%= listing.isNew() ? 'New Listing' : 'Edit Listing' %></h3><br>

  <% if (listing.errors) { %>
    <div class="alert alert-danger">
      <p><%= listing.errors %></p>
    </div>
  <% } %>

  <div class="form-group">
    <label for='title'>Title</label><br>
    <input class="form-control"
            placeholder="Title"
            type='text'
            name='title'
            id='title'
            value='<%= listing.escape('title') %>'
    ><br>
  </div>

  <div class="form-group">
    <label for='description'>Description</label><br>
    <textarea class='form-control'
              name='description'
              id='description'
              placeholder="Description"
              rows='5'
              value='<%= listing.escape('description') %>'
    ></textarea><br>
  </div>

  <div class="form-group">
    <label for="address-field">Address</label><br>
    <input class="form-control"
            type="text"
            id="autocomplete"
            name="address-field"
            placeholder="Address"
    ></br>
  </div>

  <div class="form-group">
    <label for="contact_email">Contact email</label><br>
    <input class="form-control"
      id="contact_email"
      type="email"
      name="contact_email"
      placeholder="Contact email"
      value='<%= listing.escape('contact_email') %>'
    ></br>
  </div>

  <div class="container-fluid">
    <div style="height:75px;">
      <div class='col-md-5'>
        <div class="form-group">
          <div class='input-group date' id='datetimepicker9'>
            <input type='text'
                    class="form-control"
                    name="start_date"
                    data-date-format="YYYY/MM/DD"/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar">
              </span>
            </span>
          </div>
        </div>
      </div>
      <div class='col-md-5'>
        <div class="form-group">
          <div class='input-group date' id='datetimepicker10'>
            <input type='text'
                    class="form-control"
                    name="end_date"
                    data-date-format="YYYY/MM/DD"/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar">
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>

    <script>addressAutocomplete();</script>

    <script type="text/javascript">
      $(function () {
        $('#datetimepicker9').datetimepicker({
          pickTime: false
        });
        $('#datetimepicker10').datetimepicker({
          pickTime: false
        });
        $("#datetimepicker9").on("dp.change",function (e) {
          $('#datetimepicker10').data("DateTimePicker").setMinDate(e.date);
        });
        $("#datetimepicker10").on("dp.change",function (e) {
          $('#datetimepicker9').data("DateTimePicker").setMaxDate(e.date);
        });
      });
    </script>
  </div>

  <div class="form-group">
    <a class="btn btn-success" type="submit" id="image-upload">
      Upload Image
    </a>
  </div><br>

  <div class="btn-group">
    <button class="btn btn-primary" id="submit-btn">Submit</button>
    <a class="btn btn-info" id="cancel-btn" href='#/'>Cancel</a>
  </div>
</div>
