<div class="listings">
  <h2 class="show page-header"><%= listing.escape('title') %></h2><br>
  <dl class="dl-horizontal">
    <dt>Description</dt>
    <dd><%= listing.escape('description') %></dd><br>
    <dt>Address</dt>
    <dd><%= listing.escape('address') %></dd><br>
    <dt >Start date</dt>
    <dd class="date"><%= listing.escape('start_date') %></dd><br>
    <dt>End date</dt>
    <dd class="date"><%= listing.escape('end_date') %></dd><br>
  </dl>
  <div>
    <img class="image-show" src="<%= listing.get("image") %>"/><br>
  </div>
  <h2><a class="btn btn-info show" href='#/'>Back</a></h2>
</div>
