<!DOCTYPE html>
<html>
<head>
  <title>HouseSitter</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <% if signed_in? %>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapsable">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <% end %>
        <a class="navbar-brand" href="#">
          <img id="logo" src='<%= image_url("logo.png") %>'>
        </a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapsable">
        <ul class="nav navbar-nav">
          <li><a href="#">Link</a></li>
        </ul>
        <div class="nav navbar-nav navbar-right" id="user-status">
          <% if signed_in? %>
            <p class="navbar-text">
              Signed in as
              <%= current_user.username %>
            </p>
            <form class="navbar-form navbar-right" action="<%= session_url %>" method="post">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <input type="hidden" name="_method" value="delete">
              <button class="btn btn-default" type="submit">Sign Out</button>
            </form>
          <% end %>
        </div>
      </div>
    </div>
  </nav>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
