<!DOCTYPE html>
<html>
<head>
  <title>HouseSitter</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= filepicker_js_include_tag %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'new_favicon.ico' %>

  <% if Rails.env.production? %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlgQ_SPQg1QnUHfbfpm-BJUy6N6A__U1M&v=3.exp&libraries=places"></script>
  <% else %>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
  <% end %>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top animated fadeInDown">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapsable">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= root_url %>">
          <img id="logo" src='<%= image_url("logo.png") %>'>
        </a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapsable">
        <% unless signed_in? %>
          <ul class="nav navbar-nav navbar-right sign-ins">
            <li id="signupbtn"><%= link_to '<button type="button" class="btn btn-primary btn-sm">Sign Up</button>'.html_safe, new_user_url %></li>
            <li><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" href="#signinModal">Sign In</button></li>
            <li><%= button_to 'Guest Sign In', guest_sign_in_url, method: :post, class: 'btn btn-success btn-sm' %></li>
          </ul>
        <% else %>
          <div class="nav navbar-nav" id="new_listing_btn">
            <form class="navbar-form" action="#listings/new" method="get">
              <button class="btn btn-primary" type="submit">
                Create New Listing
              </button>
            </form>
          </div>
          <div class="nav navbar-nav navbar-right" id="user-status">
            <p class="navbar-text">
              Signed in as
              <%= current_user.username %>
            </p>
            <form class="navbar-form navbar-right" action="<%= session_url %>" method="post">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <input type="hidden" name="_method" value="delete">
              <button class="btn btn-primary" type="submit" id="sign-out-btn">Sign Out</button>
            </form>
          </div>
        <% end %>
      </div>
    </div>
  </nav>

  <div id="map-canvas"></div>

  <%= yield %>

  <% if signed_in? %>
    <script>filepicker.setKey("AwsdEFbdRtWSNdPkM6lV3z");</script>
    <%= javascript_include_tag 'google_maps' %>
  <% end %>

  <%= javascript_include_tag 'google_analytics' %>
</body>
</html>
