<!DOCTYPE html>
<html>
<head>
  <title>HouseSitter</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'new_favicon.ico' %>

  <% if signed_in? %>
    <script>
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(37.77, -122.42),
          zoom: 13
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
                      mapOptions);

        var input = /** @type {HTMLInputElement} */(
          document.getElementById('pac-input'));

        var types = document.getElementById('type-selector');
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(types);

        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo('bounds', map);

        var infowindow = new google.maps.InfoWindow();
        var marker = new google.maps.Marker({
          map: map,
          anchorPoint: new google.maps.Point(0, -29)
        });

        google.maps.event.addListener(autocomplete, 'place_changed', function()  {
          infowindow.close();
          marker.setVisible(false);
          var place = autocomplete.getPlace();
          if (!place.geometry) {
            return;
          }

          // If the place has a geometry, then present it on a map.
          if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
          } else {
            map.setCenter(place.geometry.location);
            map.setZoom(17);  // Why 17? Because it looks good.
          }
          marker.setIcon(/** @type {google.maps.Icon} */({
            url: place.icon,
            size: new google.maps.Size(71, 71),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(17, 34),
            scaledSize: new google.maps.Size(35, 35)
          }));
          marker.setPosition(place.geometry.location);
          marker.setVisible(true);

          var address = '';
          if (place.address_components) {
            address = [
            (place.address_components[0] &&
                place.address_components[0].short_name || ''),
            (place.address_components[1] &&
                place.address_components[1].short_name || ''),
            (place.address_components[2] &&
                place.address_components[2].short_name || '')
            ].join(' ');
          }

          infowindow.setContent('<div><strong>' +
          place.name + '</strong><br>' + address);
            infowindow.open(map, marker);
        });


        // Sets a listener on a radio button to change the filter type on Places
        // Autocomplete.
        function setupClickListener(id, types) {
          var radioButton = document.getElementById(id);
          google.maps.event.addDomListener(radioButton, 'click', function() {
            autocomplete.setTypes(types);
          });
        }

        setupClickListener('changetype-all', []);
        setupClickListener('changetype-address', ['address']);
        setupClickListener('changetype-establishment', ['establishment']);
        setupClickListener('changetype-geocode', ['geocode']);
      }

      function loadScript() {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'https://maps.googleapis.com/maps/api/js?' +
            'key=AIzaSyAlgQ_SPQg1QnUHfbfpm-BJUy6N6A__U1M' +
            '&callback=initialize';
        document.body.appendChild(script);
      }

      window.onload = loadScript;
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  <% end %>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapsable">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= root_url %>">
          <img id="logo" src='<%= image_url("logo.png") %>'>
        </a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapsable">
        <% unless signed_in? %>
          <ul class="nav navbar-nav navbar-right" id="sign-ins">
            <%= link_to '<button type="button" class="btn btn-primary btn-sm">Sign Up</button>'.html_safe, new_user_url %>
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" href="#signinModal">Sign In</button>
          </ul>
        <% else %>
          <div class="nav navbar-nav">
            <form class="navbar-form" action="#listings/new" method="get">
              <button class="btn btn-primary" type="submit">
                Create New Listing
              </button>
            </form>
          </div>
          <div class="nav navbar-nav navbar-right" id="user-status">
            <p class="navbar-text">
              Signed in as
              <%= current_user.username %>
            </p>
            <form class="navbar-form navbar-right" action="<%= session_url %>" method="post">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <input type="hidden" name="_method" value="delete">
              <button class="btn btn-primary" type="submit">Sign Out</button>
            </form>
          </div>
        <% end %>
      </div>
    </div>
  </nav>

  <div id="map-canvas"></div>
  <%= yield %>

</body>
</html>
